*
{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}

.headerup {
    background: #030619;
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
    align-items: center;
    width: 100%;
    height: 10vh; 
}
.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 20%;
}
.logoText {
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 24px;
    text-transform: uppercase;
}
.navText {
    color: #fff;
    text-decoration: none;
    font-size: 1vw;
}

.arrowStyle {
    margin: 0 0 0 5px;
}

a {
    text-decoration: none;
    color: #fff;
}

.contactWrap {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 3% 5%;
    background-color: #FF3C47;
}

.ContactText {
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.contentWrap {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    height: 70%;
    max-width: 85%;
}

.mainHerotext {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 120px;
        text-align: center;
        color: #fff;
        font-weight: 500;
    }
    
    .subText {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        width: 60%;
        color: #fff;
    }
    
    .inputDiv {
        background-color: red;
        width: 35%;
        padding: 20px;
}
    .greenDiv {
        background-color: #FBC3C633;
        border-radius: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 35%;
        padding: 20px;
}

    .filePicker {

        border-radius: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 35%;
}

    .submitText {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #0A966D;
        margin: 0 2%;

}

.uploadBox {
    font-size: 16px;
    background-color: #fff;
    border-radius: 50px;
    /* box-shadow: 5px 5px 10px black; */
    width: 100%;
    outline: none;
}

::-webkit-file-upload-button {
    /* display: flex; */
    color: #fff;
    background-color: #FF3C47;
    padding: 15px;
    border: none;
    border-radius: 50px;
    outline: none;
    /* left: 20px; */
}

::-webkit-file-upload-button:hover {
    background-color: #fc1e29;
}

#upload-button {
    padding: 5px 5px;
    color: #fff;
    background: #FF3C47;
    border:  #FF3C47;
    cursor: pointer;
    outline: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 500;
    height: 100%;
}

#custom-msg {
    font-weight: 500;
    padding: 0px 0 0 3%;

}
form.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px 0 0 5px;
    border-radius: 10px;
    width: 35%;
    height: 10%;
    background-color: hsla(0, 0%, 100%, 0.3);
}

@media screen and  (max-width:  640px) {
    
   
.headerup {
    background: #030619;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh; 
}

.headerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    min-height: 70%; 
}

.logoText {
    padding: 5% 0;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
    line-height: 24px;
    text-transform: uppercase;
}

.navText {
    font-size: 5vw;
}


.webMain {
  
    background-size: 100% 100%;
}

.contentWrap {
   max-height: 50%;
    max-width: 85%;
}


.mainHerotext {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120px;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.mainHerotext {
    font-size: 10vw;
}

.subText {
    font-size: 4vw;
    width: 100%;
    margin: 10%;
}

.inputDiv {
    background-color: red;
    width: 65%; 
    padding: 20px;
}
.greenDiv {
    width: 85%;
    margin: 10%;
}


#upload-button {
    padding: 5px 5px;
    color: #fff;
    background: #FF3C47;
    border:  #FF3C47;
    cursor: pointer;
    outline: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 500;
    height: 100%;
}

#custom-msg {
    font-weight: 500;
    padding: 0px 0 0 3%;

}
form.form {
    width: 80%;
}



}

@media screen and (min-width:  641px) and (max-width:  1200px) {
    
   
.headerup {
    background: #030619;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
}

.headerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    min-height: 70%; 
    padding-bottom: 10%;
}

.logoText {
    padding: 5% 0;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8vw;
    line-height: 24px;
    text-transform: uppercase;
}

.navText {
    font-size: 4vw;
}


.webMain {
    background-size: 100% 100%;
}

.contentWrap {
   max-height: 60%;
    max-width: 85%;
}



.mainHerotext {
    font-size: 7vw;
}

.subText {
    font-size: 4vw;
    width: 100%;
    margin: 10%;
}

.inputDiv {
    background-color: red;
    width: 65%; 
    padding: 20px;
}
.greenDiv {
    width: 85%;
    margin: 10%;
}


#upload-button {
    padding: 5px 5px;
    color: #fff;
    background: #FF3C47;
    border:  #FF3C47;
    cursor: pointer;
    outline: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 500;
    height: 100%;
}

#custom-msg {
    font-weight: 500;
    padding: 0px 0 0 3%;

}
form.form {
    width: 80%;
}



}